*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
    transition:0.3s;
}

.container{
    width:90%;
    max-width:700px;
    margin:40px auto;
    text-align:center;
}

h1{
    margin-bottom:10px;
}

.card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

button{
    padding:10px 15px;
    margin:8px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#007bff;
    color:white;
}

button:hover{
    opacity:0.9;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

#message{
    margin-top:10px;
    font-weight:bold;
}

/* Dark Mode */
.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}

.dark input{
    background:#333;
    color:white;
    border:1px solid #555;
}